@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@200&display=swap');
body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 500px;
   font-family: "Quicksand", sans-serif;
}

.buttons {
    display: grid;
    height: 50px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
    font-family: "Quicksand", sans-serif;
} 

.number, .operator, #clearBtn, #equal {
    /* margin:0 0.3em 0.3em 0;
    border-radius:0.12em; */
    box-sizing: border-box;
    text-decoration:none; 
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    text-align:center;
    transition: all 0.1s;
} 

.number:hover, .operator:hover, #clearBtn:hover, #equal:hover  {
    color:#ece9e9;
    background-color:#b8b8b8;
}

.display-border {
    display: flex;
}
.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;
    font-size: 40px;
    background: #d3d3d3;
    /* padding-top: 10px; */
    /* width: 100px; */
}


