@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@200&display=swap');

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: "Quicksand", sans-serif;
   height: 500px;
}

.buttons {
    display: grid;
    font-family: "Quicksand", sans-serif;
    height: 50px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
} 

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: #c0c0c0a8;
    width: 320px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.display-result {
    font-size: 45px;
}

.display-current {
    font-size: 25px;
    margin-bottom: 5px;
}

.number, .operator, #clearBtn, #equal, #decimal {
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    text-align:center;
    text-decoration:none; 
    transition: all 0.2s;
} 

.number:hover, #decimal:hover {
    background-color:rgb(155, 155, 155);
}

#multiplication, #division, #subtraction, #addition {
    background-color: orange;
    border-radius: 3px;
}

#equal {
    background-color: rgb(0, 180, 0);
    grid-row: span 2;
    border-radius: 3px;
}

#equal:hover{
    background-color: rgb(0, 155, 0);
}

#clearBtn, #deleteBtn {
    background-color: rgb(250, 110, 110);
    border-radius: 3px;
}

#clearBtn:hover, #deleteBtn:hover {
    background-color: rgb(177, 0, 0);
}

#multiplication:hover, #division:hover, #subtraction:hover, #addition:hover {
    background-color: rgb(196, 127, 0);
}

#zero {
    grid-column: span 2;
}

#decimal {
    font-weight: 600;
}